
html { height: 100%; }

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Lato', Calibri, Arial, sans-serif;
	background: #fff;
	font-weight: 400;
	font-size: 100%;
	color: #333;
	height: 100%;
	text-align: right;
}

.js body {
	overflow: hidden;
}

a {
	color: #555;
	text-decoration: none;
	outline: none;
}

a:hover {
	color: #000;
}

.container,
.bb-custom-wrapper,
.bb-bookblock {
	width: 100%;
	height: 100%;
}

.container {
	position: relative;
	left: 0px;
	-webkit-transition: left 0.3s ease-in-out;
	-o-transition: left 0.3s ease-in-out;
	transition: left 0.3s ease-in-out;
}

.slideRight {
	left: 240px;
}

.no-js .container {
	padding-left: 240px;
}



.bb-custom-wrapper nav {
	position:fixed;
	z-index: 1000;
}

.bb-custom-wrapper nav span {
	position:fixed;
	width: 100px;
	height: 100px;
	color: #fff;
	speak: none;
	cursor: pointer;
    border-radius: 100%;
    border: solid 3px;
    border-color: white;
    bottom: 2%;
    margin-left: 5%;
    background-image:url(../imag/flechaBookBB.png);
    background-position: center;
    background-size: contain;
    opacity: 0.5;
    
}

.bb-custom-wrapper nav span:last-child {
	right:0;
    margin-right: 5%;
    background-image:url(../imag/flechaBook.png);
    background-position: center;
    background-size: contain;
}

.bb-custom-wrapper nav span:hover{
    border-radius: 100%;
    border-color: white;
    bottom: 2%;
        opacity: 0.8;
}

.bb-custom-wrapper nav span:hover:last-child {
	opacity:0.8;
	text-align:center;
	font-size:14px;
    background-image:url(../imag/flechaBook.png);
    background-position: center;
    background-size: contain;
	}


.no-js .bb-custom-wrapper nav span,
.no-js .menu-button {
}

#container2 {
		display:none;
}


@media only screen and (orientation:portrait) {
.menu-panel,
	.content {
		font-size: 75%;
	}
     #page { display: none;}
    
    #men1 {
    width: 100%; !important;    
    height: 30px !important;
    opacity: 1;
    background-color: #f0f0f0 !important;
    height: 20px;
    }
    #men1 p{
    text-align: left;
    display: none;
    }
    
    
    #men1 img {
    position: absolute;    
    width: 35px; 
    height: 35px;
    top: 5px;
    right: 10px;
    z-index: 999;
    }
    
    
    #coleca span {
        font-size: 0.5em;
    }
    
    #men1 img{
    width: 35px !important;
    margin-top:10px !important;
    
    }
    

    .header {
    padding-top: 5px;
    height: 20px;
    overflow: hidden;
    } 
    
        #mensaje3 {
		display:none;
		}
    }


@media only screen and (orientation:landscape) {
    #container {
		display:none;
		}
        #container2 {
		display:block;
		}
        #mensaje4 {
		display:none;
		}
    
    #men1 {
    width: 100%; !important;    
    height: 20px !important;
    z-index: 999;
    opacity: 1;
    background-color: lightgray!important;
    height: 20px;
    }
    
    #men1 img {
    width: 35px; 
    height: 35px;
    position: absolute;
        left: 7px;
        bottom: 8px;
    }
        
    #men1:hover {
    background-color: #f57e7e !important;    
    }
    
    #men1 img{
    width: 35px !important;
    margin-top:10px !important;
    
    }
}

@media screen and (max-width: 480px){
.bb-custom-wrapper nav span {
	width: 60px;
	height: 60px;
}
    #men1{
        height: 50px;
    }
}

@media screen and (max-height: 450px){
.bb-custom-wrapper nav span {
	width: 60px;
	height: 60px;
}
}
